.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.form {
  width: 500px;
  margin: 50px auto;
  text-align: left;
}

table {
  width: 500px;
  margin: 0 auto;
}

td {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input, textarea {
  width: 300px;
  font-size: 11pt;
  padding: 8px;
  box-sizing: border-box;
}

textarea {
  min-height: 80px;
}

@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
/* other styles */
/* .svg svg {
    display: none
}
 */
.inlinesvg .svg svg {
    display: inline;
}
/* .svg img {
    display: none
} */
.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}
.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}

.icon--order-success {
  width: 36px;
  height: 36px;
}
