.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.form {
  width: 500px;
  margin: 50px auto;
  text-align: left;
}

table {
  width: 500px;
  margin: 0 auto;
}

td {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
